<html>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <body style="text-align: center">
    little program about chess<br />
    this program is used to check whether the king and rook is on the right
    postion to castle.
    <br />
    <br />
    <br />
    r,n,b,q,k,p represent the rook,knight, bishop,queen,king,pawn on advasary
    side.<br />
    R,N,B,Q,K,P represent the rook,knight, bishop,queen,king,pawn on our side,
    which is going to castle.
    <br />
    <br />
    <br />
    <div id="chess">
      <div v-for="y in [0,1,2,3,4,5,6,7]">
        <span v-for="x in [0,1,2,3,4,5,6,7]">
          <select v-model="chess[y][x]" :disabled="y==7" @change="checkChess">
            <option value="0"></option>
            <option>r</option>
            <option>n</option>
            <option>b</option>
            <option>q</option>
            <option>k</option>
            <option>p</option>
            <option>R</option>
            <option>N</option>
            <option>B</option>
            <option>Q</option>
            <option>K</option>
            <option>P</option>
          </select>
        </span>
      </div>
      <div>
        <span>left side {{(result[0]?'cannot':'can') +' castle'}}</span><br />
        <span>right side {{(result[1]?'cannot':'can') +' castle'}}</span><br />
      </div>
    </div>
  </body>

  <script>
    var app = new Vue({
      el: "#chess",
      data: {
        chess: [
          ["0", "0", "0", "0", "0", "0", "0", "0"],
          ["0", "0", "0", "0", "0", "0", "0", "0"],
          ["0", "0", "0", "0", "0", "0", "0", "0"],
          ["0", "0", "0", "0", "0", "0", "0", "0"],
          ["0", "0", "0", "0", "0", "0", "0", "0"],
          ["0", "0", "0", "0", "0", "0", "0", "0"],
          ["0", "0", "0", "0", "0", "0", "0", "0"],
          ["R", "0", "0", "0", "K", "0", "0", "R"],
        ],
        result: [false, false],
      },
      methods: {
        checkr: function (x, y) {
          return this.checkVertical(x, y);
        },

        checkn: function (x, y) {
          return this.checkTargetList([
            [x + 2, y + 1],
            [x - 2, y + 1],
            [x + 1, y + 2],
            [x - 1, y + 2],
          ]);
        },
        checkb: function (x, y) {
          ans = [false, false];
          [this.checkLeftSkew(x, y), this.checkRightSkew(x, y)].forEach(
            function (va) {
              ans[0] = ans[0] || va[0];
              ans[1] = ans[1] || va[1];
            }
          );
          return ans;
        },
        checkq: function (x, y) {
          ans = [false, false];
          [
            this.checkLeftSkew(x, y),
            this.checkRightSkew(x, y),
            this.checkVertical(x, y),
          ].forEach(function (va) {
            ans[0] = ans[0] || va[0];
            ans[1] = ans[1] || va[1];
          });
          return ans;
        },
        checkk: function (x, y) {
          return this.checkTargetList([
            [x + 1, y + 1],
            [x - 1, y + 1],
            [x, y + 1],
          ]);
        },
        checkp: function (x, y) {
          return this.checkTargetList([
            [x + 1, y + 1],
            [x - 1, y + 1],
          ]);
        },

        checkVertical: function (x, y) {
          if (x >= 2 && x <= 6) {
            for (var i = y + 1; i <= 7; i++) {
              if (i < 7) {
                if (this.chess[i][x] != "0") {
                  return [false, false];
                }
              } else {
                if (x == 4) {
                  return [true, true];
                } else if (x < 4) {
                  return [true, false];
                } else {
                  return [false, true];
                }
              }
            }
          }
          return [false, false];
        },

        checkTargetList: function (l) {
          console.log(l);
          var ans = [];
          l.forEach(function (v) {
            x = v[0];
            y = v[1];
            if (y == 7 && x >= 2 && x <= 6) {
              console.log("blocked:", v);
              if (x == 4) {
                ans.push([true, true]);
              } else if (x < 4) {
                ans.push([true, false]);
              } else {
                ans.push([false, true]);
              }
            }
          });
          console.log(ans);
          var fans = [false, false];

          ans.forEach(function (va) {
            fans[0] = fans[0] || va[0];
            fans[1] = fans[1] || va[1];
          });
          return fans;
        },

        checkLeftSkew: function (x, y) {
          var left = false;
          var right = false;
          for (var i = 1; i + y <= 7; i++) {
            if (i + y < 7) {
              if (x + i < 0 || x + i > 7 || this.chess[y + i][x + i] != "0") {
                right = false;
                break;
              }
            } else {
              if (x + i == 4) {
                return [true, true];
              } else if (x + i < 4 && x + i >= 2) {
                left = true;
              } else if (x + i > 4 && x + i <= 6) {
                right = true;
              }
            }
          }
          return [left, right];
        },

        checkRightSkew: function (x, y) {
          var left = false;
          var right = false;
          for (var i = 1; i + y <= 7; i++) {
            if (i + y < 7) {
              if (x - i < 0 || x - i > 7 || this.chess[y + i][x - i] != "0") {
                right = false;
                break;
              }
            } else {
              if (x - i == 4) {
                return [true, true];
              } else if (x - i < 4 && x - i >= 2) {
                left = true;
              } else if (x - i > 4 && x - i <= 6) {
                right = true;
              }
            }
          }
          return [left, right];
        },

        checkChess: function () {
          fmap = {
            r: this.checkr,
            n: this.checkn,
            b: this.checkb,
            q: this.checkq,
            k: this.checkk,
            p: this.checkp,
          };
          var ans = [false, false];
          for (var y = 0; y < 8; y++) {
            for (var x = 0; x < 8; x++) {
              v = this.chess[y][x];
              if (v in fmap) {
                temp = fmap[v](x, y);
                ans[0] = ans[0] || temp[0];
                ans[1] = ans[1] || temp[1];
              }
            }
          }

          console.log(this.chess);
          console.log(ans);
          this.result = ans;
        },
      },
    });
  </script>
</html>
