<html>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <body style="text-align: center">
    <br />
    <br />
    <p>show all the distinct combination whoes sum is 10</p>
    <br />
    <br />
    <div id="combination">
      <input placeholder="put the numbers" v-model="numbers" />
      <input type="button" value="submit" v-on:click="compute" />
      <br />
      <br />
      <br />
      <br />
      <p><label>{{ resp }}</label></p>
    </div>
  </body>

  <script>
    const ax = axios.create();
    var app = new Vue({
      el: "#combination",
      data: {
        numbers: "0,1,2,3,4,5,6,7,8,9,10",
        resp: "",
      },
      methods: {
        compute() {
          this.resp = "";
          this.numbers = this.numbers
            .split(/\D/)
            .filter((e) => e != "")
            .join(",");
          ax.get("/combination?numbers=" + this.numbers).then(
            (response) => (this.resp = response.data)
          );
        },
      },
    });
  </script>
</html>
