<html>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <body style="text-align: center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="Palindrome">
      <input placeholder="put the word you want to check" v-model="pword" />
      <input type="button" value="submit" v-on:click="check" />
      <input type="button" value="random word" v-on:click="randomword" />
      <br />
      <br />
      <p><label>{{ resp }}</label></p>
    </div>
  </body>

  <script>
    function makeid(length) {
      var result = "";
      var characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var charactersLength = characters.length;
      for (var i = 0; i < length; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      return result;
    }

    const ax = axios.create();
    var app = new Vue({
      el: "#Palindrome",
      data: {
        pword: "",
        resp: "",
      },
      methods: {
        randomword() {
          this.resp = "";
          this.pword = makeid(10);
        },
        check() {
          this.resp = "";
          ax.get("/palindrome?word=" + this.pword).then(
            (response) =>
              (this.resp =
                response.data == true ? "is palindrome" : " not palindrome")
          );
        },
      },
    });
  </script>
</html>
